pandas==2.1.1
numpy==1.26.1
beautifulsoup4==4.12.2
selenium-stealth==1.0.6
openai==0.28.1
langchain==0.0.320
python-dotenv==1.0.0
streamlit==1.27.2
streamlit-echarts==0.4.0
streamlit-d3graph==1.0.3
d3graph==2.4.16
altair==5.1.2
streamlit-extras==0.3.4
streamlit-option-menu==0.3.6